.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cabecalho__logo {
    height: 30px;
    padding: 2rem 1rem;
}

.nav__lista {
    display: flex;
    gap: 1rem;
    padding: 0 1.5rem;
}

.nav__lista-link {
    text-decoration: none;
    color: var(--roxo-claro);
    font-family: var(--raleway);
    font-weight: 400;
    position: relative;
}

.nav__lista-link::after {
    content: "";
    position: absolute;
    background: var(--roxo-claro);
    height: 2px;
    width: 0;
    left: 0;
    top: 20px; 
    transition: 0.3s; 
}

.nav__lista-link:hover::after {
    width: 100%;
}
