.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cabecalho__logo {
    height: 30px;
    padding: 2rem 1rem;
}

.nav__lista {
    display: flex;
    gap: 1rem;
    padding: 0 1.5rem;
}

.nav__lista-link {
    text-decoration: none;
    color: var(--roxo-claro);
    font-family: var(--raleway);
    font-weight: 400;
}