.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem 1rem;
    background: var(--roxo-claro);
}

.cadastro__titulo {
    font-family: var(--raleway);
    font-weight: 700;
    color: var(--azul-escuro);
    font-size: 20px;
    color: var(--branco);
    margin-bottom: 1.5rem;
}

.cadastro__texto {
    color: var(--azul-escuro);
    line-height: normal;
    text-align: center;
    color: var(--branco);
}

.cadastro__email {
    border: none;
    border-radius: 2px;
}

@media screen and (min-width: 768px) {
   .cadastro {
    display: flex;
    flex-direction: row;
    gap: 4rem;
   } 

   .cadastro__texto {
    text-align: initial;
   }

   .cadastro__container {
    width: 100%;
   }

   .cadastro__email {
    width: 100%;
   }

   .comece-agora {
    font-size: 16px;
   }

   
}

@media screen and (min-width: 1440px) {
    .cadastro {
        display: grid;
        grid-template-columns: 1fr .5fr;
        gap: 5rem;
        padding: 6rem 2rem;
    }

    .cadastro__container {
        display: grid;
        gap: 1rem;
    }

    .cadastro__email {
        width: 100%;
    }

    .comece-agora {
        width: 50%;
        margin: 0;
    }

    .cadastro__titulo {
        font-size: 28px;
    }

    .cadastro__texto {
        text-align: left;
    }
    
}